

.container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: 20px 30px;
  border: 2px solid white;
  border-radius: 5px;
}

.new-task {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 5px;
  position: relative;
}

.new-task form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-task form input {
  font-weight: 500;
  width: 300px;
  padding: 20px;
  font-size: 1.3rem;
  border: 2px solid #ffffff;
}

.new-task form input:focus {
  outline: none;
  border: 2px solid rgba(254, 140, 0, 0.6);
  border-radius: 5px;
}

.new-task form .btn-save{
  background-color: rgba(254, 140, 0, 0.6);
  border: 1px solid #fe8c00;
  padding: 10px;
  height: 55px;
  transition: all 0.2s;
  cursor: pointer;
}

.new-task form .btn-save:hover {
  background-color: rgba(254, 140, 0, 0.9);
  border-radius: 4px;

}

.list-tasks {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px 30px;
  max-height: 450px;
  overflow: scroll;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.list-tasks ul {
  margin-top: 10px;
  list-style: none;
  text-decoration: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border: 2px solid #fe8c00;
  border-radius: 5px;
  margin-bottom: 4px;
  width: 100%;
}

.buttons {
  font-size: 23px;
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.buttons button:nth-child(2) {
  color: red;
}
.buttons button:nth-child(1) {
  color: green;
}

.btn-actions {
  background-color: transparent;
  border: none;
  font-size: 23px;
  cursor: pointer;
}

.item-exit-active {
  opacity: 0;
  transform: translateX(20%);
  transition: opacity 300ms ease-out, transform 300ms ease-in-out;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

#task-completed button {
  color: red;
}

.tabs {
  position: relative;
  color: #ffffff;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(254, 140, 0, 0.3);
}

.tabs button {
  background-color: #fe8c00;
  border: 2px solid #ffffff;
  width: 50%;
  padding: 8px;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.2s;
}

.tabs button.active {
  border: 2px inset #f83600;
  background-color: hsl(20, 100%, 50%);
}

.tabs button:hover {
  background-color: rgb(255, 50, 0);
}

.tab-page {
  display: none;
}

.tab-page.active {
  display: block;
}

@media (max-width: 530px) {
  .container {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 15px 15px;
    min-width: 200px;
  }

  .new-task form{
    display: flex;
    flex-direction: column;
  }

  .new-task form button {
    width: 100%;
    color: #ffffff;
    font-size: 20px;
  }

  .tabs {
    display: flex;
    flex-direction: column;
  }

  .tabs button {
    width: 100%;
  }
}

